table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  overflow-x: auto;
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

input[type="text"] {
  width: 15%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.pagination a:hover {
  background-color: #ddd;
}

td img {
  max-width: 50px;
  max-height: 50px;
  object-fit: cover;
}

.sb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
